@page {
    size: 70mm 20mm;
    margin: 0mm 0mm 0mm 0mm !important;
    padding: 0mm 0mm 0mm 0mm !important;
}

.sticker * {
    text-align: center;
    margin: 0 auto;
}

.sticker {
    font-family: Helvetica, Arial;
    font-size:6pt;
    width: 70.0mm; max-width: 70.0mm;
    height: 20.0mm; max-height: 20.0mm;
    /*padding-top: 5px;*/
}

.large-font {
    font-size:12pt !important;
    font-weight: bold;
}

.small-font {
    font-size:8pt !important;
    font-weight: bold;
}

.row {
  padding-top: 0px;
}

.row-priority {
  padding-bottom: 4px;
}
.barcode {
  margin-bottom: 0px;
}
