@page {
    size: 77mm 26mm;
    margin: 0mm 0mm 0mm 0mm !important;
    padding: 0mm 0mm 0mm 0mm !important;
}

.sticker * {
    text-align: center;
    margin: 0 auto;
}

.sticker {
    font-family: Helvetica, Arial;
    font-size:6pt;
    width: 76.2mm; max-width: 76.2mm;
    height: 25.0mm; max-height: 25.0mm;
    padding-top: 5px;
}

.large-font {
    font-size:7pt !important;
}

.small-font {
    font-size:5pt !important;
}

.row {
  padding-top: 0px;
}

.row-priority {
  padding-bottom: 4px;
}
.barcode {
  margin-bottom: 0px;
}
