@page {
    size: 3in 1in;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}

.sticker * {
    text-align: center;
    margin: 0 auto;
    padding: 2px 0 2px 0;
}

.sticker {
    font-family: Helvetica, Arial;
    font-size:6pt;
    width: 3in; max-width: 3in;
    height: 1in; max-height: 1in;
}

.large-font {
    font-size:9pt !important;
    font-weight: bold;
}

.small-font {
    font-size:7pt !important;
    font-weight: bold;
}

.row {
  padding-top: 0px;
}

.row-priority {
  padding-bottom: 0px;
}
.barcode {
  margin-bottom: 0px;
}
